<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>게시물 상세보기</title>
		<link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" />
	</head>
	<body>
		<h2>Board Detail</h2>
		<table border="1">
			<tr>
				<td>ID</td>
				<td th:text="${board.boardId}"></td>
			</tr>
			<tr>
				<td>Title</td>
				<td th:text="${board.title}"></td>
			</tr>
			<tr>
				<td>Content</td>
				<td th:text="${board.content}"></td>
			</tr>
			<tr>
				<td>Author</td>
				<td th:text="${board.author}"></td>
			</tr>
		</table>
		<a th:href="@{/boards}">돌아가기</a>
	</body>
</html>